<html>
<head>
	<title> Donate </title>
</head>

    
<body ng-app="AlumDonation" ng-controller="AlumDonationCtrl">
    <nav class="navbar navbar-light bg-faded">
       <a class="navbar-brand" href="#"> Donate </a> 
    </nav>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non condimentum sem. Sed ut consectetur velit, et efficitur felis. Fusce hendrerit ornare ex, sed tempor orci consequat vel. Suspendisse nec tincidunt lectus, ac cursus justo. Nunc facilisis turpis eu pulvinar semper. In malesuada sed enim non pulvinar. Etiam a dictum quam, consectetur bibendum lectus. Vestibulum volutpat odio congue mauris eleifend aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris at elementum dolor.

                Ut lacinia risus nisl, id auctor lacus finibus nec. Suspendisse vehicula ipsum eros, at semper felis cursus quis. Fusce cursus orci quam, sed ornare purus malesuada a. Aenean et vestibulum ex. Mauris sit amet lectus vitae magna accumsan feugiat in et nisl. Aenean ornare, eros nec molestie pellentesque, eros eros rhoncus elit, nec sollicitudin velit lorem non purus. Phasellus fringilla enim eu lobortis aliquam. In at leo mauris.

                Aenean varius consequat velit id lobortis. Fusce tellus lorem, fringilla at commodo sit amet, gravida ut dolor. Donec eu mi congue, viverra velit a, posuere neque. Quisque rutrum dui nec tristique suscipit. In suscipit pretium iaculis. Vivamus sed molestie neque. Donec commodo leo ut pellentesque fermentum. Donec vulputate, est sit amet auctor sagittis, magna libero suscipit est, sodales finibus lorem elit lacinia augue. Vestibulum mi augue, tempor nec blandit at, suscipit eget quam. Donec cursus mollis aliquet. Suspendisse condimentum vel urna et gravida. Nam id sagittis sem, sit amet fermentum metus. Aenean imperdiet risus a orci vehicula, ac dapibus tortor mollis. Sed congue mattis orci sit amet interdum. Mauris sollicitudin, ante at mollis lacinia, sapien libero scelerisque est, eu placerat lectus sapien sed eros. Vestibulum molestie vulputate felis.

                Nunc luctus vulputate lacus non vehicula. Proin pretium nisl at leo suscipit, vel fermentum risus gravida. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec at mi non dui pharetra faucibus vitae vel magna. Morbi malesuada porttitor ligula, nec maximus nulla dignissim vel. Vivamus sed ante ex. Cras dui odio, dapibus eget massa sed, elementum tincidunt diam. Nullam vel elit ac eros viverra posuere.

                Mauris felis nulla, blandit at est sed, bibendum tincidunt ex. In eu mollis dolor. Pellentesque pharetra eget nunc et varius. In accumsan iaculis venenatis. Etiam lacus eros, volutpat vel molestie et, interdum in justo. Nulla eget eleifend justo, id placerat lacus. Duis auctor mauris ac sagittis placerat. Quisque et lacus lectus. Morbi viverra nisl ac mauris hendrerit convallis et eu nisl. Suspendisse finibus ut mauris eget vestibulum.
            </div>
            <div class="col-md-4" id="mainInput">
                <div class="heading">
                    <h4> Donate </h4>
                </div>
                <!-- amount -->
                <div class="amount" ng-show="pageStep === 'stepAmount'">
                    <form>
                        <div class="form-group row">
                           <textarea class="form-control" id="donationReason" rows="6" placeholder=
                                     "If there is a certain portion of the budget you would like your donation to go to (sponsoring the dues of a sister in need, philanthropy, professionalism, etc), enter it here"></textarea>
                        </div>
                        <div class="form-group row input-group">
                            <div class="form-inline">
                               <div class="input-group">
                                   <span class="input-group-addon">$</span>
                                   <input class="form-control" type="number" id="amount">
                                   <span class="input-group-addon">.00</span>
                               </div>
                           </div>
                        </div>
                        <div class="form-group row">
                            <button class="btn btn-primary" ng-click="next()"> Next </button>
                        </div>
                    </form>
                </div>
               <!-- card info -->
               <div class="cardInfo" ng-show="pageStep === 'stepCard'">
                   <form>
                    <div class="form-group row">
                        <label for="cardNumber"> Card Number </label>
                          <input type="text" class="form-control" id="cardNumber" ng-model="cardNumber" data-stripe="number">
                      </div>

                      <div class="form-group row">
                        <label for="expirationDate"> Expiration (MM/YY) </label>
                        <input class="form-control" type="month" ng-model="expirationDate" id="expirationDate" data-stripe="exp_date">
                      </div>

                      <div class="form-group row">
                          <label for="CVC"> CVC </label>
                          <input class="form-control" type="text" id="CVC" ng-model="CVC" data-stripe="cvc">
                      </div>
                       
                       <button class="btn btn-primary" ng-click="back()"> Back </button>
                       <button class="btn btn-primary" ng-click="next()"> Next </button>
                   </form>
               </div>
                <!-- billing address -->
                <div class="billingAddress" ng-show="pageStep == 'stepAddress'">
                 <form>
                     <div class="form-group row">
                            <label for="name" > Name </label>
                            <input class="form-control" type="text" id="name" ng-model="name" data-stripe="name">
                     </div>
                     <div class="form-group row">
                            <label for="addressOne" > Billing Address </label>
                            <input class="form-control" type="text" id="addressOne" ng-model="addressOne" data-stripe="addressOne">
                     </div>
                     <div class="form-group row">
                            <label for="addressTwo" > Apartment / Suite </label>
                            <input class="form-control" type="text" id="addressTwo" ng-model="addressTwo" data-stripe="addressTwo">
                      </div>
                      <div class="form-group row">
                            <label for="city" > City </label>
                            <input class="form-control" type="text" id="city" ng-model="city" data-stripe="city">
                      </div>
                     <div class="form-group row">
                         <label for="state"> State </label>
                         <select class="form-control" id="state">
                            <option ng-repeat="state in states"> {{state.abbreviation}} </option>
                         </select>
                      </div>
                     <div class="form-group row">
                            <label for="zipcode" > Zipcode </label>
                            <input class="form-control" type="text" id="zipcode" ng-model="zipcode" data-stripe="zipcode">
                      </div>
                     <div class="form-group row">
                            <button class="btn btn-primary" ng-click="back()"> Back </button>
                            <button class="btn btn-primary" ng-click="next()"> Donate </button>
                     </div>
                 </form>
            </div>
        </div>
    </div>
	
	<!-- stylesheets -->
    <link rel ="stylesheet" href="./src/alum-donation.css">
	<link rel ="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">


	<!-- Include: angular components-->
    
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script src ="./bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="bower_components/angular-stripe/release/angular-stripe.js"></script>


	<!-- Include: other files -->
	<script src ="./src/alum-donation-init.js"></script>
	<script src ="./src/alum-donation-app.js"></script>
	<script src ="./src/alum-donation-svc.js"></script>
	<script src ="./src/alum-donation-ctrl.js"></script>
    <script src="./src/constants.js"></script>
        
</body>
    
</html>
